.loginContainer{
  background-image: url('/assets/img/msnbg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

a{
  color: blue !important;
}
a:hover{
  color: lightblue!important;
}
